@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primaryGrey-200: hsl(0, 0%, 85%);
  
  --font-Alata:"Alata",sans-serif;
  --font-JosefinSans: "Josefin Sans", sans-serif;
}